* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50vh);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  grid-template-areas:
  "one two"
  "three four";
}